<footer>
    <nav class="small-12 columns"> 
        <ul>
            {% for entry in site.data.nav-social %}
                {% if entry != null %}
                    <li>
                        <a href="{{ site.baseurl }}{{ entry.href }}"> {{ entry.title }} </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <p>
        <a href="http://creativecommons.org/licenses/by/4.0/">Copyright © 2014</a><span> · 
        </span><a href="{{ site.baseurl }}/disclaimer/">Disclaimer</a><span> · 
        </span><a href="{{ site.baseurl }}/feed.xml">RSS Feed</a> 
    </p>
</footer>
{% include js.html %}
