<script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--
<script type="application/javascript" src="{{ site.baseurl }}/bower_components/foundation/js/foundation.min.js"></script>
<script type="application/javascript" src="{{ site.baseurl }}/bower_components/classie/classie.js"></script>
<script type="application/javascript" src="{{ site.baseurl }}/bower_components/salvattore/dist/salvattore.min.js"></script>
<script type="application/javascript" src="{{ site.baseurl }}/bower_components/owlcarousel/owl-carousel/owl.carousel.min.js"></script>
-->

<script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation.min.js"></script>
<script type="application/javascript" src="{{ site.baseurl }}/bower_components/classie/classie.js"></script>
<script type="application/javascript" src="{{ site.baseurl }}/bower_components/salvattore/dist/salvattore.min.js"></script>
<script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js"></script>

    <script>$(document).foundation();</script>

    <!-- TOP BAR -->
    <script>
        function init() {
            window.addEventListener('scroll', function(e){
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 150,
                    header = document.querySelector("header");
                if (distanceY > shrinkOn) {
                    classie.add(header,"smaller");
                } else {
                    if (classie.has(header,"smaller")) {
                        classie.remove(header,"smaller");
                    }
                }
            });
        }
        window.onload = init();
    </script>


 <!-- OWL CAROUSEL -->
    <script type="text/javascript">
        $(document).ready(function() {     
            $(".owl-related-posts").owlCarousel(); 
        });
    </script>
    <script>
    $(document).ready(function() {
     
    $("#owl-post").owlCarousel({
     
        navigation : false,
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem:true

    });
     
    });
    </script>
    <!-- ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56766372-1', 'auto');
      ga('send', 'pageview');

    </script>

