                
<div class="small-12 columns hide-for-print">
    <h3>Share</h3>        
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" alt="Facebook share button">
        <i class="fa fa-facebook fa-3x share-button"></i>
    </a>
    <a target="_blank" href="http://pinterest.com/pin/create/button/?url={{ site.url }}/{{ page.url }}&media={{ site.url }}/img/{{ page.img-preview }}-large.jpg&description={{ page.title }} - visit {{ site.url }}" class="pin-it-button" count-layout="horizontal">
        <i class="fa fa-pinterest fa-3x share-button"></i>
    </a>
    <a target="_blank" href="https://twitter.com/share?text={{ page.title }}%20via%20@{{ site.twitter }}&url={{ site.url }}{{ page.url }}">
        <i class="fa fa-twitter fa-3x share-button"></i>
    </a>
</div>
