
<div itemscope itemtype="http://schema.org/Recipe">
    {% if page.img %}
    <div class="wrap" 
        type="image/jpg" 
        data-interchange="[{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-480w.jpg, (only screen and (min-width: 1px))],
        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-768w.jpg, (only screen and (min-width: 481px))],
        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-1024w.jpg, (only screen and (min-width: 769px))],
        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-1440w.jpg, (only screen and (min-width: 1025px))],
        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-1600w.jpg, (only screen and (min-width: 1441px))],
        [{{site.baseurl}}/img/{{page.img}}/{{page.img}}-back-1920w.jpg, (only screen and (min-width: 1601px))]">
    
    
    {% endif %}
        <div class="row">
            <div class="medium-6 columns">
                <h2><span itemprop="name">{{ page.title | upcase }}</span></h2>
                <div class="row">
                    <div class="medium-6 columns">
                        <ul>
                            <li><div class="sublist-italic">Duration</div><h5><meta itemprop="totalTime" content="PT5M">{{ page.duration }}</h5></li>
                            <li><div class="sublist-italic">Vessel</div><h5> {{ page.vessel }}</h5></li>
                            <li itemprop="cookingMethod"><div class="sublist-italic">Heat</div>
                                <h5>  
                                    {% if page.heat != empty %}
                                        {{ page.heat }}
                                    {% elsif page.heat == empty %}
                                        <i class="fa fa-ban fa-lg"></i>                     
                                    {% endif %}
                                </h5>
                            </li>
                        </ul>
                    </div>
                    <div class="medium-6 columns">
                        <ul>
                            <li itemprop="recipeYield"><span ><div class="sublist-italic">Servings</div><h5> {{ page.servings }}</h5></span></li>
                            <li><div class="sublist-italic">Tagged as</div><h5 itemprop="description">{{ page.tags | join: ', ' }}</h5></li>
                        </ul>
                    </div>
                </div>                  
            </div>        
                       
            <div class="medium-6 columns">
                {% if page.img %}
                <a href="#anker-impressions">
                    <div class="img-wrap" 
                        type="image/jpg" itemprop="image" 
                        data-interchange="[{{site.baseurl}}/img/{{page.img}}/{{page.img-preview}}-240w.jpg, (only screen and (min-width: 1px))],
                        [{{site.baseurl}}/img/{{page.img}}/{{page.img-preview}}-320w.jpg, (only screen and (min-width: 241px))],
                        [{{site.baseurl}}/img/{{page.img}}/{{page.img-preview}}-500w.jpg, (only screen and (min-width: 321px))],
                        [{{site.baseurl}}/img/{{page.img}}/{{page.img-preview}}-640w.jpg, (only screen and (min-width: 501px))],
                        [{{site.baseurl}}/img/{{page.img}}/{{page.img-preview}}-800w.jpg, (only screen and (min-width: 641px))],
                        [{{site.baseurl}}/img/{{page.img}}/{{page.img-preview}}-970w.jpg, (only screen and (min-width: 801px))]">
                    </div>
                </a>              
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row main">
        <br>
        <div class=" medium-6 columns">
            <h3>Ingredients</h3>     
            {% for part in page.ingredients %}         
                <div class="sublist-italic">{{ part[0] }}</div>
                <ul>
                {% for ingredient in part[1] %}
                    <li itemprop="ingredients">{{ ingredient }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div class="medium-6 columns">   
           <h3>Instructions</h3>     
            {% for part in page.instructions %}          
                <div class="sublist-italic">{{ part[0] }}</div>
                <ul>
                {% for instruction in part[1] %}
                    <li itemprop="recipeInstructions">{{ instruction }}</li>
                {% endfor %}
                </ul>
            {% endfor %}         
        </div>
    </div>
    
    <div class="row main">
        <div class="small-12 columns">
            <h3>Note</h3>
            <p>{{ page.note }}</p>
        </div>
    </div>


  
    <div itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation" class="row main">       
        <div class="medium-3 medium-centered columns"> </div>
        <div class="medium-6 medium-centered columns">
            <div class="nutrition"> 
                <div class="row"><div class="small-12 columns"><div class="nutrition-head"><h3>Nutrition facts</h3><div class="sublist-italic">without optional Ingredients</div></div></div></div>
                <div class="row nutrition-body">
                    <div class="small-12 columns">
                        <div class="row">
                            <div class="small-6 columns text-left"></div>
                            <div class="small-6 columns text-right"><span class="italic">per 100g</span></div>        
                        </div>
                        <div itemprop="calories" class="row">
                            <div class="small-6 columns text-left">Calories</div>
                            <div class="small-6 columns text-right">{{ page.calories }} kcal</div>        
                        </div>
                        <div itemprop="proteinContent" class="row">
                            <div class="small-6 columns text-left">Protein</div>
                            <div class="small-6 columns text-right">{{ page.protein }} g</div>        
                        </div>
                        <div itemprop="carbohydrateContent" class="row">
                            <div class="small-6 columns text-left">Total Carbs</div>
                            <div class="small-6 columns text-right">{{ page.total-carbs }} g</div>        
                        </div>
                        <div itemprop="sugarContent" class="row">
                            <div class="small-6 columns text-left">Sugars</div>
                            <div class="small-6 columns text-right">{{ page.sugars }} g</div>        
                        </div>
                        <div itemprop="fatContent" class="row">
                            <div class="small-6 columns text-left">Total fat</div>
                            <div class="small-6 columns text-right">{{ page.total-fat }} g</div>        
                        </div>
                        <!--
                        <div itemprop="saturatedFatContent" class="row">
                            <div class="small-6 columns text-left">Saturated fat</div>
                            <div class="small-6 columns text-right">{{ page.saturated-fat }} g</div>        
                        </div>
                        -->
                        <div itemprop="fiberContent" class="row">
                            <div class="small-6 columns text-left">Fiber</div>
                            <div class="small-6 columns text-right">{{ page.fiber }} g</div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="medium-3 medium-centered columns"> </div> 
    </div> 

    
    <div class="row main">
        <div class="small-12 columns">
            {% include share.html %}
        </div>       
        <div class="small-12 columns">
             <a name="anker-impressions"></a>
            <h3>Impressions</h3>
            
            {% for n in (1..{{page.img-count}}) %}  
                {% if page.img %}
                <!--
                <img class="impressions hide-for-print" type="image/jpg" data-interchange="{% for size in page.img-size %}[{{site.baseurl}}/img/{{page.img-impression}}0{{n}}{{size[1]}} ({{size[0]}})]{% unless forloop.last %}, {% endunless %}{% endfor %}">
                <noscript><img class="caption-media" itemprop="photo" src="{{site.baseurl}}/img/{{ page.img-impression }}0{{n}}-default.jpg"></noscript>
                -->
                <img data-sizes="auto"
                    class="lazyload impressions" 
                    src="{{site.baseurl}}/img/{{page.img}}/{{page.img}}-240w.jpg"
                    data-srcset="{{site.baseurl}}/img/{{page.img}}/{{page.img}}-0{{n}}-240w.jpg 240w,
                    {{site.baseurl}}/img/{{page.img}}/{{page.img}}-0{{n}}-320w.jpg 320w,
                    {{site.baseurl}}/img/{{page.img}}/{{page.img}}-0{{n}}-500w.jpg 500w,
                    {{site.baseurl}}/img/{{page.img}}/{{page.img}}-0{{n}}-640w.jpg 640w,
                    {{site.baseurl}}/img/{{page.img}}/{{page.img}}-0{{n}}-800w.jpg 800w,
                    {{site.baseurl}}/img/{{page.img}}/{{page.img}}-0{{n}}-970w.jpg 970w"
                    alt="{{ page.title }} 0{{n}}" />
           
                {% endif %}
            {% endfor %}
        </div>   
             
        <div class="small-12 columns hide-for-print">
            {% if page.comments == true %}
                <h3>Comment</h3>
            {% include disqus.html %}
            {% endif %}
        </div>
    </div>
</div>





