<header>
    <div class="container clearfix">
        <h1 id="logo">
            <a href="{{ site.baseurl }}/">Plato Frugal</a>
        </h1>
        <nav>
            {% for entry in site.data.nav-top %}
                {% if entry != null and entry.title == page.title %}
                    <a  class="active" href="{{ site.baseurl }}{{ entry.href }}">{{ entry.title | upcase }}</a>
                {% else %}
                    <a href="{{ site.baseurl }}{{ entry.href }}">{{ entry.title | upcase }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</header>

