---
layout: compress
---

<!DOCTYPE HTML>
<html class="no-js" lang="en">
    {% include head.html %}
    <body>
        {% include top-bar.html %}
        <div id="padding-top">         
            <div {% if page.title == 'archive' or page.title == 'about' or page.title == 'disclaimer' %} class="main {{ page.title }}"{% endif %}>           
                {{ content }}       
            </div> 
        {% if page.title != 'archive' and page.title != 'about' and page.title != 'disclaimer' %}              
            {% include related-posts.html %}   
        {% endif %} 
        </div>  
        {% if page.title != 'archive' %}             
            {% include footer.html %}
        {% else %}
            {% include js.html %}
        {% endif %}
    </body>
</html>






